@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    border: none;

}

body {
    min-height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header a {
    color: #4070f4;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 1.2rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #4070f4;
}

.navbar button i {
    font-size: 1.4rem;
    color: #fff;
}

.img {
    width: 1.6rem;
    border-radius: none;
    z-index: 1000;
}

.perfil{
    width: 1.6rem;
    border-radius: 50%;
}

.icon {
    width: 4rem;
}

.photo_perfil {
  width: 3.4rem;
  border-radius: 50%;
}


.card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body_comment, .user_perfil, .action {
    padding: 0.4rem;
}

.comment {
    text-align: left;
    font-size: 0.8rem;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    padding-right: 2rem;
    margin-top: 1rem;

}

.btn button {
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 0.2rem;
}

#name_user {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}

#name_user p {
    margin-left: 0.4rem;
    font-size: 0.9rem;
    font-weight: 100;
    font-style: italic;
}

#new_msg {
    position: fixed;
    top: 75%;
    left: 75%;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    border-radius: 50%;
    color: #fff;
    background: #4070f4;
}