@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    border: none;

}

body {
    min-height: 100vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header a {
    color: #4070f4;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 1.2rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #4070f4;
}

.navbar button i {
    font-size: 1.4rem;
    color: #fff;
}

.img {
    width: 1.6rem;
    border-radius: none;
    z-index: 1000;
}

.perfil{
    width: 1.6rem;
    border-radius: 50%;
}

.icon {
    width: 4rem;
}

.photo_perfil {
 /* width: 3.4rem; */
    width: 5rem;
}


.card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body_comment, .user_perfil, .action {
    padding: 0.4rem;
}

.comment {
    text-align: left;
    font-size: 0.8rem;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    padding-right: 2rem;
    margin-top: 1rem;

}

.btn button {
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 0.2rem;
}

#name_user {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}

#name_user p {
    margin-left: 0.4rem;
    font-size: 0.9rem;
    font-weight: 100;
    font-style: italic;
}

#new_msg {
    position: fixed;
    top: 75%;
    left: 75%;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    border-radius: 50%;
    color: #fff;
    background: #4070f4;
}

 .modalContainer {
  text-align: left;
  width: 60%;
}

 .modalContainer .btnAdd {
  background: none;
  color: #35187f;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
}

 .modalContainer #fade {
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

 .modalContainer #modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

.modalContainer .modal-body {
    padding: 1rem;
}

#img_capa img {
    width: 10rem;
}

.modalContainer .modal-body .stats_obra {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
}

.modalContainer .modal-body .stats_obra h2 {
    font-weight: 500;
    color: rgb(77, 77, 77);
}

.modalContainer .modal-body .btn_rdc {
    padding: 0.2rem 1rem;
}

.modalContainer .modal-body .btn_rdc #ler {
    width: 100%;
    padding: 0.5rem;
    background: #4070f4;
    color: #fff;
    border-radius: 0.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.modalContainer .modal-body .sinopse {
    padding: 0.2rem 1.5rem;
    margin-bottom: 0.5rem; 
}

.modalContainer .modal-body .sinopse p {
    font-size: 0.8rem;
    color: #292828;
}

.modalContainer .modal-body #tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.2rem 1.5rem 1.5rem 1.5rem;  
}

.modalContainer .modal-body #tags p {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    background: #efefef;
    border-radius: 1rem;
    color: #353434;
}

 .modalContainer #fade,  .modalContainer #modal {
  -webkit-transition: 0.5s;
  transition: 0.3s;
  opacity: 1;
  pointer-events: all;
}

 .modalContainer .modal-header {
     text-align: right;
    padding: 1rem;
}

 .modalContainer .modal-header #close-modal {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  color: #4070f4;
  background: none;
}

 .modalContainer #modal.hide,  .modalContainer #fade.hide {
  opacity: 0;
  pointer-events: none;
}

 .modalContainer #modal.hide {
  top: 0;
}

#open-modal {
    background: none;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}

.sinopse {
    font-size: 0.9rem;
}

.fav {
    text-align: end;
}

.fav button {
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
}