@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    border: none;
}

body {
    min-height: 100vh;
    width: 100%;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .username {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0rem;
    width: 84%;
    font-size: 1rem;
    color: #4070f4;
    font-weight: 500;
}

.container .username i {
    font-size: 1.6rem;
    color: #4070f4;    
}

.container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 84%;
}

.container .header .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .stats .post {
    margin: 1rem;
}

.container .recado {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 84%;
}

.container .recado #user_name {
    margin-bottom: 0.2rem;
    font-weight: 600;
}

.add {
    padding: 0 0.4rem;
}

.container .btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84%; 
    margin-top: 1.6rem;
    background: #4070f4;
    border-radius: 0.6rem;
}

.container .btn_box .btn_edit {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    background: none;
    cursor: pointer;
}

.photo_perfil {
  width: 6rem;
  border-radius: 50%;
}

.man {
  text-align: center;
  position: fixed;
  top: 70%;
  padding: 0.6rem;
  font-size: 0.8rem;
  border-radius: 5px;
  color: #942e30;
  width: 330px;
  background: #f8d7da;
}

 .modalContainer {
  text-align: left;
  width: 60%;
}

 .modalContainer .btnAdd {
  background: none;
  color: #35187f;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
}

 .modalContainer #fade {
  min-height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

 .modalContainer #modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

.modalContainer .modal-body {
    padding: 1rem;
}

.modalContainer .modal-body .stats_obra {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 1.5rem;
}

.modalContainer .modal-body .stats_obra h2 {
    font-weight: 500;
    color: rgb(77, 77, 77);
}

.modalContainer .modal-body .btn_rdc {
    padding: 0.2rem 1rem;
}

.modalContainer .modal-body .btn_rdc #ler {
    width: 100%;
    padding: 0.5rem;
    background: #4070f4;
    color: #fff;
    border-radius: 0.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.modalContainer .modal-body .sinopse {
    padding: 0.2rem 1.5rem;
    margin-bottom: 0.5rem; 
}

.modalContainer .modal-body .sinopse p {
    font-size: 0.8rem;
    color: #292828;
}

.modalContainer .modal-body #tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.2rem 1.5rem 1.5rem 1.5rem;  
}

.modalContainer .modal-body #tags p {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    background: #efefef;
    border-radius: 1rem;
    color: #353434;
}

 .modalContainer #fade,  .modalContainer #modal {
  -webkit-transition: 0.5s;
  transition: 0.3s;
  opacity: 1;
  pointer-events: all;
}

 .modalContainer .modal-header {
     text-align: right;
    padding: 1rem;
}

 .modalContainer .modal-header #close-modal {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  color: #4070f4;
  background: none;
}

 .modalContainer #modal.hide,  .modalContainer #fade.hide {
  opacity: 0;
  pointer-events: none;
}

 .modalContainer #modal.hide {
  top: 0;
}

#open-modal {
    background: none;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
}